{% extends 'admin/admin_index.html.twig' %}

{% block body %}
    {% if form is not defined %}
        <a href="{{ path('common_settings', {'type': 'edit'}) }}">Редактировать настройки</a><br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Значение</th>
            </tr>
            </thead>
            <tbody>
            {% for setting in settings %}
                <tr>
                    <td>{{ setting.0 }}</td>
                    <td>{{ setting.1|raw }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ form_start(form) }}
        {{ form_end(form) }}
    {% endif %}
{% endblock %}

{% block javasprict %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
    <script>
        $('.summernote').summernote({
            height: 300,
            popover: {
                image: [],
                link: [],
                air: []
            },
            codemirror: {
                theme: 'paper'
            }
        });
    </script>
{% endblock %}

