{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/contact_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/regular_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/contact_responsive.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/regular_responsive.css') }}">
{% endblock %}
{% block body %}
    <!-- Contact Info -->

    <div class="contact_info">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="contact_info_container d-flex flex-lg-row flex-column justify-content-between align-items-between">

                        <!-- Contact Item -->
                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img src="images/contact_1.png" alt=""></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">Номер телефона</div>
                                <div class="contact_info_text">
                                    {{ phone }}
                                </div>
                            </div>
                        </div>

                        <!-- Contact Item -->
                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img src="images/contact_2.png" alt=""></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">Email</div>
                                <div class="contact_info_text">fastsales@gmail.com</div>
                            </div>
                        </div>

                        <!-- Contact Item -->
                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img src="images/contact_3.png" alt=""></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">Адресс</div>
                                <div class="contact_info_text">{{ address }}</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Single Blog Post -->

    <div class="single_post">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="single_post_title">О Нас</div>
                    <div class="single_post_text">
                     <p>
                         Компания “МАВОК” занимается оптовой и розничной продажей оборудования для систем отопления, водоснабжения, канализации, вентиляции, кондиционирования, сантехники ведущих мировых производителей а также профессионально консультируем и комплектуем объекты по смете.

                         Сегодня мы предлагаем широкий ассортимент продукции известных зарубежных компаний, таких как:

                         Ferroli (Италия) – бытовые и промышленные котлы, газовые колонки, газовые котлы настенные и напольные, электроводонагреватели (бойлеры), алюминиевые радиаторы; газовые горелки;
                         Atmos (Чехия) – пиролизные котлы, пеллетные, угольные котлы;
                         Viadrus (Чехия) – универсальные твердотопливные чугунные котлы, чугунные радиаторы;
                         Kospel (Польша) – электрические котлы, солнечные коллекторы, водонагреватели электрические;
                         Drazice (Чехия) – водонагреватели;
                         Imera (Италия) – гидроаккумуляторы и расширительные баки;
                         Halm (Германия) – насосы циркуляционные для отопления, холодного и горячего водоснабжения;
                         Gorgiel (Польша) – встраиваемые и наружные коллекторные шкафы;
                         Lk Armatur (Швеция) – запорно-регулирующая арматура, автоматика;
                         Luxor (Италия) – модульные насосные группы, термостатическая арматура, коллектора, модульные системы для топочных, аксессуары для подключения сантехнических приборов, радиаторные краны, арматура для радиаторов. коллекторы для отопления, аксессуары для подключения сантех приборов;
                         Slovarm (Словакия) – запорная арматура для соединения и регулировки в системах теплый пол, отопления, разводки холодного и горячего водоснабжения, латунные и никелированые фитинги;
                         Tdm (Италия) – латунные резьбовые соединения, прессовые фитинги латунные, краны, клапаны для труб водоснабжения и отопления;
                         Korado (Чехия) – стальные радиаторы для систем центрального отопления, внутрипольные конвекторы, полотенцесушители;
                         Kingrad ― стальные панельные радиаторы;
                         Koralux ― полотенцесушители;
                         Ekoplastik (Чехия) – труба и фитинги из полипропилена для систем холодного и горячего водоснабжения, отопления и кондиционирования;
                         Unidelta (Италия) – трубы (сшитый полиэтилен, металлопластик) многослойные для систем отопления и водоснабжения;
                         Nmc (Польша) – теплоизоляция для труб, изоляционные продукты для обеспечения надежности и экономии в системах отопления, водоснабжения, канализации и кондиционирования. в системах солнечных коллекторов;
                         HI-THERM (Италия) ― твердотопливные котлы;
                         ALCAPLAST ― механизмы для сантехнического оборудования, скрытые системы инсталяции, сифоны для ванн и сифоны для душевых поддонов, сифоны для умывальников, сифоны для моек
                         Системы инсталяции и системы для общественных санузлов:

                         ·         GEBERIT (Швейцария) – Системы инсталяции, системы для общественных санузлов, унитаз биде, сифоны, смывные клавиши.

                         ·         ALCAPLAST (Чехия) ― Системы инсталляции, системы для общественных санузлов, биде, унитазов, смывные клавиши.

                         ·         GROHE (Германия) ― Системы инсталляции, системы для общественных санузлов, биде, унитазов.

                         ·         CERSANIT (Польша) ― Системы инсталляции, системы для общественных санузлов, биде, уриналов, смывные кнопки.

                         Сантехника:

                         KOLO (Польша) – сантехника, ванны, душевые кабины, мебель для ванной;
                         CERSANIT (Польша) – сантехника, акриловые ванны, душевые кабины, мебель для ванной;
                         JIKA (Чехия) – сантехника, ванны, аксессуары;
                         KALDEWEI (Германия) – стальные и акриловые ванны;
                         KOLLER POOL (Австрия) – гидромассажные системы, акриловые ванны, стальные ванны, душевые кабины, душевые двери, душевые шторы, душевые поддоны, сантехника, умывальники, унитазы, сифон для ванны, сифоны для поддонов;
                         LAUFEN (Чехия) – ванны, гидромассажные ванны, душевые кабины;
                         LAUFEN (Чехия) – сантехника, аксессуары, мебель для ванной, ванны.
                         GROHE (Германия) – смесители;
                         GEBERIT (Швейцария) – сантехника;
                         GSI (Gruppo Sanitari Italia) (Италия) – сантехника;
                         ALCAPLAST ― механизмы для сантехнического оборудования, скрытые системы инсталяции, сифоны для ванн и сифоны для душевых поддонов, сифоны для умывальников, сифоны для моек;
                         HACEKA (Голландия) ― аксессуары для ванной комнаты, мебель для ванной комнаты;
                         AQUART (Португалия) ― стальные ванны;
                         VITRA (Турция) ― умывальники, унитазы, сантехника для ванной комнаты;
                         WEBERT (Италия) ― смесители для ванны, душевые системы.
                         Сотрудничество с нами дает Вам следующие преимущества:
                         — приобретение высококачественного товара известных торговых марок;
                         — проведение квалифицированных консультаций;
                         — сертификаты украинского стандарта;
                         — гибкая система скидок
                     </p>
                     </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}