{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/blog_single_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/blog_single_responsive.css') }}">
{% endblock %}
{% block body %}
    <!-- Single Blog Post -->

    <div class="single_post">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="single_post_title">{{ post.title }}</div>
                    <div class="single_post_text">
                        <div class="single_post_quote text-center">
                            <div class="quote_image"><img src="/images/blog/{{ post.image }}" alt=""></div>
                        </div>
                        <p style="font-family: Rubik">{{ post.description|raw }}</p>
                        <div class="quote_name">Опубликовано: {{ post.createdAt | date("d/m/Y") }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Blog Posts -->
    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="blog_posts d-flex flex-row align-items-start justify-content-between">
                        {% for post in related %}
                        <!-- Blog post -->
                        <div class="blog_post">
                            <div class="blog_image" style="background-image:url('{{asset('/images/blog/' ~ post.image)}}')"></div>
                            <div class="blog_text">{{ post.description |striptags|slice(0, 100)|raw|nl2br }}...</div>
                            <div class="blog_button"><a href={{ path('showBlogPost', {'id': post.id}) }}>Читать дальше</a></div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}