{% extends 'base.html.twig' %}
{% block stylesheets %}
    <title>Cart</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="OneTech shop project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
    <link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="styles/cart_styles.css">
    <link rel="stylesheet" type="text/css" href="styles/cart_responsive.css">
    <link rel="stylesheet" type="text/css" href="styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/product_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/product_responsive.css">
    <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}
    <!-- Cart -->
    {% if products is defined %}
    <div class="cart_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cart_container">
                        <div class="cart_title">Корзина</div>
                        <div class="cart_items">
                            <ul class="cart_list">
                                {% for product in products %}
                                    <li class="cart_item clearfix basket-product-card">
                                        <div class="cart_item_image"><img src={% if product.image.get(0).ImagePath is defined %}
                                                                          "/images/{{ product.image.get(0).ImagePath }}"
                                            {% else %}
                                                "/no-image.png"
                                            {% endif %} alt=""></div>
                                        <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                            <div class="cart_item_name cart_info_col">
                                                <div class="cart_item_title">Название</div>
                                                <div class="cart_item_text"><a href="{{ path('product', {'slug': product.slug}) }}" target="_blank">{{ product.name }}</a></div>
                                            </div>
                                            <div class="cart_item_quantity cart_info_col">
                                                <div class="cart_item_title">Количество</div>
                                                <div class="product_quantity clearfix" style="margin-top: 20px; width: 120px">
                                                    <input class="quantity_input" type="text" readonly="readonly" value="{{ product.amount }}">
                                                    <div class="quantity_buttons" data-product-name="{{ product.slug }}" data-minimum="{{ product.MinimumWholesale }}" data-wholesale="{{ product.WholesalePrice }}" data-retail="{{ product.retailPrice }}" data-value="{{ product.ProductValue }}">
                                                        <div class="quantity_inc_button quantity_inc quantity_control"><i class="fas fa-chevron-up"></i></div>
                                                        <div class="quantity_dec_button quantity_dec quantity_control"><i class="fas fa-chevron-down"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cart_item_price cart_info_col">
                                                <div class="cart_item_title">Цена</div>
                                                <div class="cart_item_text product-price">
                                                    {% if product.ProductValue is not null%}
                                                        {% if product.MinimumWholesale is not null and  product.MinimumWholesale <= product.amount%}
                                                            {{ (product.WholesalePrice * product.ProductValue) }} UAH
                                                        {% else %}
                                                            {{ (product.retailPrice * product.ProductValue) }} UAH
                                                        {% endif %}
                                                    {% else %}
                                                        {% if product.MinimumWholesale is not null and  product.MinimumWholesale <= product.amount%}
                                                            {{ (product.WholesalePrice) }} UAH
                                                        {% else %}
                                                            {{ (product.retailPrice) }} UAH
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="cart_item_total cart_info_col">
                                                <div class="cart_item_title">Итого</div>
                                                <div class="cart_item_text product-sum">
                                                    {% if product.ProductValue is not null%}
                                                        {% if product.MinimumWholesale is not null and  product.MinimumWholesale <= product.amount%}
                                                            {{ (product.WholesalePrice * product.ProductValue * product.amount) }}
                                                        {% else %}
                                                            {{ (product.retailPrice * product.ProductValue * product.amount) }}
                                                        {% endif %}
                                                    {% else %}
                                                        {% if product.MinimumWholesale is not null and  product.MinimumWholesale <= product.amount%}
                                                            {{ (product.WholesalePrice * product.amount) }}
                                                        {% else %}
                                                            {{ (product.retailPrice * product.amount) }}
                                                        {% endif %}
                                                    {% endif %} UAH
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <!-- Order Total -->
                        <div class="order_total">
                            <div class="order_total_content text-md-right">
                                <div class="order_total_title">Итого:</div>
                                <div class="order_total_amount"><span id="total">{{ total }}</span> UAH</div>
                            </div>
                        </div>

                        <div class="cart_buttons">
                            <a href="{{ path('checkout') }}">
                                <button type="button" class="button cart_button_checkout" id="checkout_button">Оформить заказ</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="modal fade" id="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="dialog">
                <div class="modal-content">
                    <div class="modal-header" style="border: unset">
{#                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                            <span aria-hidden="true">&times;</span>#}
{#                        </button>#}
                    </div>
                    <div class="modal-body text-center">
                        <h4>
                            Извините, но минимальная сумма заказа составляет {{ minOrder }}грн.
                        </h4>
                    </div>
                    <div class="modal-footer" style="border: unset">
                        <button type="button" class="btn-primary btn" data-dismiss="modal" aria-label="Close" style="font-size: 15px">Продолжить покупки</button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <h3>Габела, пустая корзина</h3>
            <a style="align-content: center" href="{{ path('index') }}">На главную</a>
        </div>
    {% endif %}
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    Вы уверены что хотите удалить товар из корзины?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="dismiss" data-dismiss="modal">Нет</button>
                    <button type="button" class="btn btn-primary" id="accept">Да</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script src="js/jquery-3.3.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="js/cart_custom.js"></script>
<script src="js/product_custom.js"></script>
<script src="js/main.js"></script>
    <script>
            document.getElementById('checkout_button').addEventListener('click', function(evt) {
                if ({{ minOrder }} > {{ total }}) {
                    evt.preventDefault();
                    $('#modal').modal('show');
                }
            }, false);

            $(document).on('click','.quantity_inc_button',function () {
                let elem = $(this);
                let input = elem.parent().parent().find('.quantity_input');
                let quantity_buttons = elem.parent();
                let slug = quantity_buttons.attr('data-product-name');
                let minimum = Number(quantity_buttons.attr('data-minimum'));
                let wholesale = Number(quantity_buttons.attr('data-wholesale').replace(/[^\d.-]/g, ''));
                let retail = Number(quantity_buttons.attr('data-retail').replace(/[^\d.-]/g, ''));
                let value = Number(quantity_buttons.attr('data-value').replace(/[^\d.-]/g, ''));
                if(value !== 0) {
                    wholesale = (wholesale * value).toFixed(1);
                    retail = (retail * value).toFixed(1);
                }

                $.ajax({
                    method: "GET",
                    url: '/plus_basket/'+slug,
                })
                    .done(function() {
                        $('#total').html((Number($('#total').html()) - Number(elem.closest('.cart_item_info').find('.product-sum').html().replace(/[^\d.-]/g, ''))).toFixed(1));

                        let amount = Number(input.val(Number(input.val()) + 1).val());
                        if((minimum <= 0) || (minimum > 0 && amount < minimum)){
                            elem.closest('.cart_item_info').find('.product-sum').html(parseFloat((amount*retail).toFixed(1)) + ' UAH');
                            elem.closest('.cart_item_info').find('.product-price').html(retail + ' UAH');
                            $('#total').html(parseFloat((Number($('#total').html()) + (amount*retail)).toFixed(1)));
                        }
                        else{
                            elem.closest('.cart_item_info').find('.product-sum').html(parseFloat((amount*wholesale).toFixed(1)) + ' UAH');
                            elem.closest('.cart_item_info').find('.product-price').html(wholesale + ' UAH');
                            $('#total').html(parseFloat((Number($('#total').html()) + (amount*wholesale)).toFixed(1)));
                        }

                    });
            });

            $(document).on('click','.quantity_dec_button',function () {
                let elem = $(this);
                let input = elem.parent().parent().find('.quantity_input');
                if(Number(input.val()) === 1){
                    $('#exampleModalCenter').modal('show');
                    document.getElementById('dismiss').onclick = function () {
                        $('#exampleModalCenter').modal('hide');
                    };
                    document.getElementById('accept').onclick = function () {
                        $('#exampleModalCenter').modal('hide');
                        let quantity_buttons = elem.parent();
                        let slug = quantity_buttons.attr('data-product-name');
                        let minimum = Number(quantity_buttons.attr('data-minimum'));
                        let wholesale = Number(quantity_buttons.attr('data-wholesale').replace(/[^\d.-]/g, ''));
                        let retail = Number(quantity_buttons.attr('data-retail').replace(/[^\d.-]/g, ''));
                        let value = Number(quantity_buttons.attr('data-value').replace(/[^\d.-]/g, ''));
                        if(value !== 0){
                            wholesale = (wholesale*value).toFixed(1);
                            retail = (retail*value).toFixed(1);
                        }


                        $.ajax({
                            method: "GET",
                            url: '/minus_basket/'+slug,
                        })
                            .done(function() {
                                $('#total').html(parseFloat(Number($('#total').html()) - Number(elem.closest('.cart_item_info').find('.product-sum').html().replace(/[^\d.-]/g, '')).toFixed(1)));
                                let amount = Number(input.val(Number(input.val()) - 1).val());
                                if(amount === 0)
                                    elem.closest('.basket-product-card').remove();
                                else{
                                    if((minimum <= 0) || (minimum > 0 && amount < minimum)){
                                        elem.closest('.cart_item_info').find('.product-sum').html(parseFloat((amount*retail).toFixed(1)) + ' UAH');
                                        elem.closest('.cart_item_info').find('.product-price').html(retail + ' UAH');
                                        $('#total').html(parseFloat((Number($('#total').html()) + (amount*retail))).toFixed(1));
                                    }
                                    else{
                                        elem.closest('.cart_item_info').find('.product-sum').html(parseFloat((amount*wholesale).toFixed(1)) + ' UAH');
                                        elem.closest('.cart_item_info').find('.product-price').html(wholesale + ' UAH');
                                        $('#total').html(parseFloat((Number($('#total').html()) + (amount*wholesale)).toFixed(1)));
                                    }
                                }
                            });
                    };
                }
                else{
                    let quantity_buttons = elem.parent();
                    let slug = quantity_buttons.attr('data-product-name');
                    let minimum = Number(quantity_buttons.attr('data-minimum'));
                    let wholesale = Number(quantity_buttons.attr('data-wholesale').replace(/[^\d.-]/g, ''));
                    let retail = Number(quantity_buttons.attr('data-retail').replace(/[^\d.-]/g, ''));
                    let value = Number(quantity_buttons.attr('data-value').replace(/[^\d.-]/g, ''));
                    if(value !== 0){
                        wholesale = (wholesale*value).toFixed(1);
                        retail = (retail*value).toFixed(1);
                    }


                    $.ajax({
                        method: "GET",
                        url: '/minus_basket/'+slug,
                    })
                        .done(function() {
                            $('#total').html(parseFloat(Number($('#total').html()) - Number(elem.closest('.cart_item_info').find('.product-sum').html().replace(/[^\d.-]/g, '')).toFixed(1)));
                            let amount = Number(input.val(Number(input.val()) - 1).val());
                            if(amount === 0)
                                elem.closest('.basket-product-card').remove();
                            else{
                                if((minimum <= 0) || (minimum > 0 && amount < minimum)){
                                    elem.closest('.cart_item_info').find('.product-sum').html(parseFloat((amount*retail).toFixed(1)) + ' UAH');
                                    elem.closest('.cart_item_info').find('.product-price').html(retail + ' UAH');
                                    $('#total').html(parseFloat((Number($('#total').html()) + (amount*retail)).toFixed(1)));
                                }
                                else{
                                    elem.closest('.cart_item_info').find('.product-sum').html(parseFloat((amount*wholesale).toFixed(1)) + ' UAH');
                                    elem.closest('.cart_item_info').find('.product-price').html(wholesale + ' UAH');
                                    $('#total').html(parseFloat((Number($('#total').html()) + (amount*wholesale)).toFixed(1)));
                                }
                            }
                        });
                }
            })
    </script>

{% endblock %}