{% extends 'base.html.twig' %}
{% block stylesheets %}
    <title>{{ category.name }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="OneTech shop project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="http:/icon-logo.png">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
    <link href="/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/styles/shop_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/product_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/shop_responsive.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="shop">
        <div class="container">
            <div class="row">
                {% if categories is empty and products is empty and form is not defined %}
                    <h3>{{ category.name }}</h3>
                    <div class="container not_found text-center">
                        <img src="{{ asset('imagen_1_1497560052.jpg') }}">
                        <h4 class="pl-lg-4">В данной категории еще нет товаров</h4>
                    </div>
                {% endif %}
                <div class="col-lg-3" id="filter">
                    <div class="shop_sidebar">
                        {% if form is defined %}
                            {{ form_start(form, {'attr': {'id': 'form_filter'}}) }}
                            {% for fo in form %}
                                {% if fo.vars.attr.min is defined %}
                                    <div class="sidebar_section">
                                        {{ form_widget(fo) }}
                                        <div class="sidebar_subtitle">{{ form_label(fo) }}</div>
                                        <div class="filter_price">
                                            <div class="slider-range" min="{{ fo.vars.attr.min }}" max="{{ fo.vars.attr.max }}" value="{% if fo.vars.value is not empty%}{{ fo.vars.value }}{% else %}{{ fo.vars.attr.min ~ ';' ~    fo.vars.attr.max }}{% endif %}"></div>
                                            <div class="slider-label"><span class="slider-value"></span></div>
                                        </div></div>
                                {% else %}
                                    {% if fo.vars.attr.class is not defined %}
                                        <div class="sidebar_section">
                                            <div class="sidebar_subtitle">{{ form_label(fo) }}</div>
                                            {{ form_widget(fo) }}
                                        </div>
                                        <br>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <div id="mobile-filter-submit"></div>
                            {{ form_end(form, {'render_rest': false}) }}
                        {% endif %}
                    </div>
                </div>

                <div class="col-lg-9">

                    {% if categories is not null %}
                    <ul class="list-group pb-lg-5 py-3">
                        {% for category in categories %}
                            {% if category.isVisible == true %}
                                <li class="list-group-item"><a class="text-primary" href="{{ path('category', {'slug': category.slug}) }}">•  {{ category.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}


                    {% if products is not empty %}
                    <div class="shop_content">
                        <div class="shop_bar clearfix">
                            {% if length is defined %}
                                <div class="shop_product_count"><span>{{ length }}</span> товаров найдено</div>
                            {% endif %}
                            <div class="shop_sorting">
                                <ul>
                                    <li>
                                        <span>Сортировать по:</span>
                                        <span class="sorting_text">
                                            <i class="fas fa-chevron-down"></i>
                                        </span>
                                        <ul>

                                            <li class="shop_sorting_button" ><a onclick=getUrl('name');>По названию</a></li>
                                            <li class="shop_sorting_button"><a onclick=getUrl('date');>По новизне</a></li>
                                            <li class="shop_sorting_button"><a onclick=getUrl('price_up');>По возрастанию цены</a></li>
                                            <li class="shop_sorting_button"><a onclick=getUrl('price_down');>По убыванию цены</a></li>

                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>



                        <div class="product_grid">
                            {%  for product in products %}
                            <div class="product_item is_new col-lg-3 col-md-4 col-sm-6 px-0">
                                <a href="{{ path('product', {'slug': product.slug}) }}">
                                <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src=
                                    {% if product.image.get(0).ImagePath is defined %}
                                    "/images/{{ product.image.get(0).ImagePath }}"
                                    {% else %}
                                        "/no-image.png"
                                    {% endif %}
                                    alt=""></div>
                                <div class="product_content">
                                        {% if product.ProductValue is not null %}
                                    <div class="product_price">
                                            {% if product.sale is not empty %}
                                                <div class="sale">
                                                    <s>{{ (product.retailPrice * product.ProductValue) | round(1,'common') }} грн</s><br>
                                                    {{ (product.retailPrice * product.ProductValue - (product.retailPrice * product.ProductValue/100 * product.sale)) | round(1,'common') }} грн
                                                </div>
                                            {% else %}

                                                <div class="price">
                                                    {{ (product.retailPrice * product.ProductValue) | round(1,'common') }} грн
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="product_price">
                                            {% if product.sale is not empty %}
                                                <div class="sale">
                                                    <s>{{ (product.retailPrice) | round(1,'common') }} грн</s><br>
                                                    {{ (product.retailPrice - (product.retailPrice/100 * product.sale)) | round(1,'common') }} грн
                                                </div>
                                            {% else %}
                                                <div class="price">
                                                    {{ (product.retailPrice) | round(1,'common') }} грн
                                                </div>
                                            {% endif %}

                                        {% endif %}
                                            </div>

                                </div>
                                    <div class="product_name">
                                        <p>
                                            {% if product.name | length > 43 %}
                                                {{ product.name | slice(0,43) }}...
                                            {% else %}
                                                {{ product.name }}
                                            {% endif %}
                                        </p>
                                    </div>
                                </a>
                                    <div class="button_container mt-0">
                                        {% if product.IsAvailable == true %}
                                            <button type="button" class="button cart_button add_to_basket" style="{% if product.amount != 0 %}background-color: green;{% endif %} width: 90%" value="{{ product.slug }}">{% if product.amount != 0 %}В корзине <i class="fas fa-check"></i>{% else %}Купить <i class="fas fa-cart-plus"></i>{% endif %}</button>
                                        {% else %}
                                            <button type="button" disabled class="button cart_button add_to_basket text-dark not_available" value="{{ product.slug }}">Нет в наличии {{ product.IsAvailable }}</button>
                                        {% endif %}
                                    </div>
                                <ul class="product_marks">
                                    {% if product.sale is not null %}
                                        <li class="product_mark product_discount">-{{ product.sale }}%</li>
                                    {% endif %}
                                    {% if product.specialOffer == 1 %}
                                        <li class="product_mark product_new"><i class="fas fa-thumbs-up"></i></li>
                                    {% endif %}
                                </ul>
                            </div>
                            {% endfor %}

                        </div>



                    <input id="sorting_type" type="hidden" value="{{ sort }}">
                        <!-- Shop Page Navigation -->
                    {% if products is not null %}
                    <div class="navigation pt-4" id="pagination_lg">
                        {{ knp_pagination_render(products, null, {}, {
                            'size': 'large',
                            'rounded': true,
                        }) }}
                    </div>
                    <div class="navigation pt-4 float-right" id="pagination_sm">
                        {{ knp_pagination_render(products, null, {}, {
                            'size': 'medium',
                            'rounded': true,
                        }) }}
                    </div>
                    </div>

                    {% endif %}

                {% endif %}

                        {% if categories is empty and products is empty and form is defined%}
                            <h3>{{ category.name }}</h3>
                            <div class="container not_found text-center mb-5">
                                <img src="{{ asset('imagen_1_1497560052.jpg') }}">
                                <h4 class="pl-lg-4">По вашему запросу ничего не найдено, попробуйте изменить параметры фильтра</h4>
                            </div>
                        {% endif %}
                    <div class="description">
                        {{ category.description|raw }}
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div id="filter-submit" class="display-none"></div>
{% endblock %}
{% block filter %}
    {% if categories is null %}
        <div class="row px-4 py-2 justify-content-center d-none" id="filter_container">
            <div id="filter_trigger">
                <div class="menu_trigger_text text-primary text-center filter_trigger">Фильтр</div>
                <div class="cat_burger menu_burger_inner text-primary"><i class="fas fa-filter"></i></div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}`
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/styles/bootstrap4/popper.js"></script>
    <script src="/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="/plugins/greensock/TweenMax.min.js"></script>
    <script src="/plugins/greensock/TimelineMax.min.js"></script>
    <script src="/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="/plugins/greensock/animation.gsap.min.js"></script>
    <script src="/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="/plugins/easing/easing.js"></script>
    <script src="/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="/js/shop_custom.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>


    <script>
    $( function() {
        $('.slider-range').each(function () {
            $(this).parent().find('.slider-value').html($(this).attr('value').split(';')[0]+' - '+$(this).attr('value').split(';')[1]);
            $( $(this) ).slider({
                range: true,
                min: parseInt($(this).attr('min')),
                max: parseInt($(this).attr('max')),
                values: [ parseInt($(this).attr('value').split(';')[0]), parseInt($(this).attr('value').split(';')[1]) ],
                slide: function( event, ui ) {
                    $(this).parent().parent().find('.text-slider').val(ui.values[ 0 ]+';'+ui.values[ 1 ]);
                    $(this).parent().find('.slider-value').html(ui.values[ 0 ]+' - '+ui.values[ 1 ]);
                }
            });
        })
    } );

    if ($(window).width() < 992) {
        $('#filter_form_save').css('width','80%').css('border-radius','5rem').appendTo($('#mobile-filter-submit'));


        $('#filter_trigger').on('click', function () {
            if ($('#filter').css('display') === 'none'){
                $('#filter').slideDown(500);
            }
            else {
                $('#filter').hide();
            }
        });
    }
    else {
        $('#filter_form_save').css('width', '100%').css('border-radius','5rem').css('cursor','pointer').appendTo($('#filter-submit'));

        $(document).on('click mousedown', '.slider-range', function () {
            if(!$(this).find($('#filter-submit')).length){
                $('#filter-submit').css('position','absolute').css('top', '-30px').css('left', '-75%').css('z-index', '3');
                $('#filter-submit').hide().appendTo($(this)).fadeIn('medium');
            }
        });
        $(document).on('click mousedown', '.form-check', function () {
            if(!$(this).find($('#filter-submit')).length){
                $('#filter-submit').css('position','absolute').css('top', '-13px').css('left', '-75%').css('z-index', '3');
                $('#filter-submit').hide().appendTo($(this)).fadeIn('medium');
            }
        })
    }


    function getUrl(sorting_type) {
        let link = window.location.href;
        let url = new URL(link);
        let params = new URLSearchParams(url.search.slice(1));

        params.set('sort_by', sorting_type);
        location.href = '?'+params.toString();
    }

    $('#form_filter').on('submit', function (e) {
        e.preventDefault();
        let url = new URL(window.location.href.split('?')[0] +'?' + $(this).serialize());
        let params = new URLSearchParams(url.search.slice(1));
        params.set('sort_by', $('#sorting_type').val());
        location.href = '?'+params.toString();
    })
    </script>

{% endblock %}