{% extends 'base.html.twig' %}
{% block stylesheets %}
    <title>Shop</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="OneTech shop project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
    <link href="/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/styles/shop_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/product_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/shop_responsive.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
    <style>
        @media screen {

        }
    </style>
{% endblock %}
{% block body %}
    <div class="shop">
        <div class="container">
            <div class="row">
                <div class="col-lg-3" id="filter">
                    <div class="shop_sidebar">
                        {% if form is defined %}
                            {{ form_start(form) }}
                            {% for fo in form %}
                                {% if fo.vars.attr.min is defined %}
                                    <div class="sidebar_section">
                                        {{ form_widget(fo) }}
                                        <div class="sidebar_subtitle">{{ form_label(fo) }}</div>
                                        <div class="filter_price">
                                            <div class="slider-range" min="{{ fo.vars.attr.min }}" max="{{ fo.vars.attr.max }}" value="{% if fo.vars.value is not empty%}{{ fo.vars.value }}{% else %}{{ fo.vars.attr.min ~ ';' ~    fo.vars.attr.max }}{% endif %}"></div>
                                            <div class="slider-label" style="padding-top: 10px;"><span style="padding-left: 15px" class="slider-value"></span></div>
                                        </div></div>
                                {% else %}
                                    {% if fo.vars.attr.class is not defined %}
                                        <div class="sidebar_section">
                                            <div class="sidebar_subtitle">{{ form_label(fo) }}</div>
                                            {{ form_widget(fo) }}
                                        </div>
                                        <br>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {{ form_end(form, {'render_rest': false}) }}
                        {% endif %}
                    </div>

                </div>

                <div class="col-lg-9">

                    {% if category is defined %}
                        <h3>{{ category.name }}</h3>
{#                        {% if category.image is not null %}#}
{#                            <img style="width: 100%; height: 300px; object-fit: contain" src="/images/{{ category.image }}">#}
{#                        {% endif %}#}
                        {{ category.description|raw }}
                    {% endif %}


                    {% if categories is not null %}
                    <div class="col" style="padding-bottom: 1rem">
                        <div class="viewed_title_container">
                            <h3 class="viewed_title">Categories</h3>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 1rem; padding-bottom: 1rem">
                        {% for category in categories %}
                            {% if category.isVisible == true %}
                            <div class="col-3" style="border-left: thin solid #dadada; border-right: thin solid #dadada">
                                <div class="product_image d-flex flex-column align-items-center justify-content-center"><img style="object-fit: contain; width: 100px; height: 100px" src="/images/{{ category.image }}" onerror="this.onerror=null;this.src='/no-image.png';" alt="no image"></div>
                                <div style="text-align: center; margin-top: 0.7rem">
                                    <div style="width : 180px; overflow:hidden; display:inline-block; text-overflow: ellipsis; white-space: nowrap;"><a class="text-dark font-weight-bold" href="{{ path('category', {'slug': category.slug}) }}">{{ category.name }}</a></div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}


                    <div class="shop_content">
                        <div class="shop_bar clearfix">
                            <div class="shop_product_count"><span>{{ products|length }}</span> products found</div>
                            <div class="shop_sorting">
                                <span>Sort by:</span>
                                <ul>
                                    <li>
                                        <span class="sorting_text">highest rated<i class="fas fa-chevron-down"></span></i>
                                        <ul>
                                            <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "name" }'>name</li>
                                            <li class="shop_sorting_button"data-isotope-option='{ "sortBy": "price" }'>ascending price</li>
                                            <li class="shop_sorting_button"data-isotope-option='{ "sortBy": "price" }'>descending price</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>



                        <div class="product_grid">
                            {%  for product in products %}
                            <div class="product_item is_new col-lg-3 col-sm-6 px-0" style="height: 400px;">
                                <a href="{{ path('product', {'slug': product.slug}) }}">
                                <div class="product_image d-flex flex-column align-items-center justify-content-center"><img style="object-fit: contain; width: 100px; height: 100px" src=
                                    {% if product.image.get(0).ImagePath is defined %}
                                    "/images/{{ product.image.get(0).ImagePath }}"
                                    {% else %}
                                        "/no-image.png"
                                    {% endif %}
                                    alt=""></div>
                                <div class="product_content" style="height: 150px">
                                    <div class="product_price">
                                        {% if product.ProductValue is not null %}
                                            {{ (product.retailPrice * product.ProductValue) }} UAH</div>
                                        {% else %}
                                            {{ product.retailPrice }} UAH</div>
                                        {% endif %}
                                    <div style="width : 150px; height: 100px; text-overflow: ellipsis; overflow: visible;" class="product_name"><p>{{ product.name }}</p></div>
                                </div>
                            <div class="button_container">
                                <button type="button" class="button cart_button add_to_basket" value="{{ product.slug }}">Add to Cart</button>
                            </div>
                                <ul class="product_marks">
                                    {% if product.sale is not null %}
                                        <li class="product_mark product_discount">-{{ product.sale }}%</li>
                                    {% endif %}
                                    {% if product.specialOffer == 1 %}
                                        <li class="product_mark product_new"><i class="fas fa-thumbs-up"></i></li>
                                    {% endif %}
                                </ul>
                            </a>
                            </div>
                            {% endfor %}
                        </div>



                        <!-- Shop Page Navigation -->
                    {% if products is not null %}
                    <div class="navigation pt-4" id="pagination_lg">
                        {{ knp_pagination_render(products, null, {}, {
                            'size': 'large',
                            'rounded': true,
                        }) }}
                    </div>
                    <div class="navigation pt-4" id="pagination_sm" style="float: right">
                        {{ knp_pagination_render(products, null, {}, {
                            'size': 'medium',
                            'rounded': true,
                        }) }}
                    </div>
                    </div>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/styles/bootstrap4/popper.js"></script>
    <script src="/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="/plugins/greensock/TweenMax.min.js"></script>
    <script src="/plugins/greensock/TimelineMax.min.js"></script>
    <script src="/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="/plugins/greensock/animation.gsap.min.js"></script>
    <script src="/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="/plugins/easing/easing.js"></script>
    <script src="/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="/js/shop_custom.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>


    <script>
    $( function() {
        $('.slider-range').each(function () {
            $(this).parent().find('.slider-value').html($(this).attr('value').split(';')[0]+' - '+$(this).attr('value').split(';')[1]);
            $( $(this) ).slider({
                range: true,
                min: parseInt($(this).attr('min')),
                max: parseInt($(this).attr('max')),
                values: [ parseInt($(this).attr('value').split(';')[0]), parseInt($(this).attr('value').split(';')[1]) ],
                slide: function( event, ui ) {
                    console.log($(this).parent());
                    $(this).parent().parent().find('.text-slider').val(ui.values[ 0 ]+';'+ui.values[ 1 ]);
                    $(this).parent().find('.slider-value').html(ui.values[ 0 ]+' - '+ui.values[ 1 ]);
                }
            });
        })
    } );

        $('#filter_trigger').on('click', function () {
            if ($('#filter').css('display') === 'none'){
                $('#filter').slideDown(500);
            }
            else {
                $('#filter').hide();
            }
        });
    </script>

{% endblock %}