{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
    <title>Оформление заказа</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/checkout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/checkout_responsive.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/product_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/product_responsive.css') }}">

{% endblock %}

{% block body %}



<!--Main layout-->
    <div class="container wow fadeIn col-lg-6 col-sm-12">

        <!-- Heading -->
        <h2 class="my-sm-2 my-lg-5 h2 text-center">Оформление заказа</h2>

        {{ form_start(form, {'attr': {'id':'checkout_form'} } ) }}
        {{ form_row(form.name) }}
        {{ form_row(form.surname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.type) }}
        {{ form_row(form.data) }}
        {{ form_row(form.comment) }}
        <button type="submit" class="btn btn-outline-primary btn-lg mb-3">Подтвердить заказ</button>
        {{ form_end(form) }}
    </div>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <h4>
                        Спасибо за заказ!<br>
                        Письмо с подтвержением отправлено вам на почту.
                    </h4>
                </div>
                <div class="modal-footer">
                    <a href="{{ path('index') }}">
                        <button type="button" class="btn btn-primary h5">На главную</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();
    </script>
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>#}

    <script type="text/javascript" src="/js/chosen.jquery.js"></script>
    <script>
        $(document).ready(function () {
            if(Number($('#checkout_form_type').val()) === 1)
                $('#checkout_form_type').closest('.form-group').append('<span id="basket-pickup">{{ pickup }}</span>');
            $('#header_dropdown').hide();
            $(document).on('change','#checkout_form_type',function () {
                $('#basket-pickup').remove();
                if ($("#checkout_form_city" ).length)
                    $("#checkout_form_city").closest('.form-group').remove();
                if ($("#checkout_form_post" ).length)
                    $('#checkout_form_post').closest('.form-group').remove();
                let element = $(this);
                if(Number($(this).val()) === 1){
                    element.closest('.form-group').append('<br><span id="basket-pickup">{{ pickup }}</span>');
                }
                if(Number($(this).val()) === 2){
                    $.ajax({
                        method: "POST",
                        url: '/post_offices',
                    })
                        .done(function(posts) {
                            let array = JSON.parse(posts);
                            let cities = $('<div></div>').addClass('form-group').append('<label class="required" for="checkout_form_city">Населенный пункт</label>');
                            let select = $('<select required></select>').addClass('form-control').attr('id', 'checkout_form_city');
                            select.append('<option disabled selected value> Выберите населенный пункт </option>');

                            Object.keys(array).forEach(function (key) {
                                select.append('<option value="'+key+'">'+array[key]['city']+'</option>')
                            });
                            cities.append(select);
                            element.closest('.form-group').after(cities);
                            $('#checkout_form_city').chosen();

                            $(document).on('change','#checkout_form_city',function () {
                                if ($("#checkout_form_post" ).length)
                                    $('#checkout_form_post').closest('.form-group').remove();
                                let element = $(this);
                                let cities = $('<div></div>').addClass('form-group').append('<label class="required" for="checkout_form_post">Отделение</label>');
                                let select = $('<select required></select>').addClass('form-control').attr('id', 'checkout_form_post');
                                select.append('<option disabled selected value> Выберите отделение </option>');
                                Object.keys(array[element.val()]['post_offices']).forEach(function (key) {
                                    select.append('<option value="'+key+'">Отделение № '+array[element.val()]['post_offices'][key]['number']+' , '+array[element.val()]['post_offices'][key]['address']+'</option>')
                                });
                                cities.append(select);

                                element.closest('.form-group').after(cities);
                                $('#checkout_form_post').chosen();
                                $(document).on('change','#checkout_form_post',function () {
                                    $('#checkout_form_data').val($("#checkout_form_post option:selected").text());
                                })
                            });
                        });
                }
            })

        })
    </script>
    <script>
        $('#checkout_form').on('submit', function(event){
            event.preventDefault();
            submitForm();
        });

        function submitForm(){
            var name = $('#checkout_form_name').val();
            var surname = $('#checkout_form_surname').val();
            var email = $('#checkout_form_email').val();
            var type = $('#checkout_form_type').val();
            var city = $('#checkout_form_city').val();
            var data = $('#checkout_form_data').val();

            $.ajax({
                url: "/sendMail",
                data: {
                    name: name,
                    surname: surname,
                    email: email,
                    type: type,
                    city : city,
                    data: data
                },
            })
                .done(function () {
                    $('#modal').modal('show');
                })
        }
    </script>
{% endblock %}
