<!DOCTYPE html>
<html>
<!-- Header -->
<header style="width: 60vw; margin: auto; border-right: thin solid #dadada; border-left: thin solid #dadada; background: rgba(14, 140, 228, 0.1);">
    <!-- Top Bar -->
    <div style="width: 100%; height: 56px; background: #fafafa; border-bottom: solid 1px rgba(0,0,0,0.05); z-index: 2;">
        <div style=" width: 60em; margin-left: auto; margin-right: auto;">
            <div style="display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px">
                <div style="-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%; display:-ms-flexbox!important;display:flex!important; -ms-flex-direction:row!important;flex-direction:row!important">
                    <div style="font-size: 16px;font-weight: 300;line-height: 56px;	margin-right: 40px;">
                        <div style="display: inline-block;margin-right: 14px;-webkit-transform: translateY(-2px);-moz-transform: translateY(-2px);-ms-transform: translateY(-2px);-o-transform: translateY(-2px);transform: translateY(-2px);">
                            +38 068 005 3570
                        </div>
                    </div>
                    <div style="font-size: 16px;font-weight: 300;line-height: 56px;	margin-right: 40px;">
                        <div style="display: inline-block;margin-right: 14px;-webkit-transform: translateY(-2px);-moz-transform: translateY(-2px);-ms-transform: translateY(-2px);-o-transform: translateY(-2px);transform: translateY(-2px);">
                            fastsales@gmail.com
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Header Main -->
    <div style="z-index: 1;">
        <div style="width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto">
            <div style="display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;">
                <!-- Logo -->
                <div style="text-align: center">
                    <div style="padding-left: 2rem; height: 100px;">
                        <div style="top: 50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);">
                            <p style="font-size: 55px; font-family: Verdana; color: #0e8ce4; text-align: center; font-style: italic">
                                Mavoc
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<body style="width: 60vw; margin: auto; border-right: thin solid #dadada; border-left: thin solid #dadada;">
    <div style="text-align: center; padding-top: 2rem">
        <h2>
            Спасибо за заказ!
        </h2>
        <h4 style="padding-right: 7rem; padding-left: 7rem; margin: unset">
            You'll receive an email when your items are shipped. If you have any questions, Call us 1-800-1234-5678.
        </h4>
    </div>
    <div style="padding-top: 2rem">
        <table style="width: 80%; margin: auto; border: solid thin #dadada; background: rgba(14, 140, 228, 0.1);">
            <tr style="border-bottom: thin solid #dadada">
                <td style="width: 50%;text-align: center; border-right: thin solid #dadada">
                    <h4>SUMMARY:</h4>
                </td>
                <td style="padding-left: 2rem; text-align: center; padding-right: 2rem">
                    <h4>SHIPPING ADDRESS:</h4>
                </td>
            </tr>
            <tr>
                <td style="width: 50%; padding-left: 2rem; padding-right: 2rem; padding-bottom: 2rem; border-right: thin solid #dadada">
                    Order Date:	{{ "now"|date("d/m/Y") }}<br>
                    Order Total:	{{ total }}<br>
                </td>
                <td style="padding-left: 2rem; padding-right: 2rem; padding-bottom: 2rem">
                    {{ surname }} {{ name }}<br>
                    {% if delivery.type == 1%}
                        Самовывоз<br>
                    {% elseif delivery.type == 2 %}
                        Нова Пошта<br>
                        {{ delivery.data }}<br>
                    {% else %}
                        Другое
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <div style="padding-top: 3rem">
        <table style="width: 80%; margin: auto; border-bottom: solid thin #dadada;">
            <tr style="border-bottom: thin solid #dadada">
                <td style="width: 25%;text-align: center; border-right: thin solid #dadada">
                    <h4 style="font-weight:700!important">
                        ITEMS ORDERED
                    </h4>
                </td>
                <td style=" width: 35%; margin: auto; text-align: center; border-right: thin solid #dadada">
                    <h4>Name</h4>
                </td>
                <td style=" width: 15%; margin: auto; text-align: center; border-right: thin solid #dadada">
                    <h4>Qnt</h4>
                </td>
                <td style=" width: 15%; margin: auto; text-align: center;">
                    <h4>Price</h4>
                </td>
            </tr>
            {% for product in products %}
            <tr style="margin-top: 1rem; margin-bottom: 1rem;border-bottom: thin solid #dadada">
                <td style="width: 25%;text-align: center;">
                    <img src="{{ url('index') }}/{{ product.image }}">
                </td>
                <td style=" width: 35%; margin: auto; text-align: center;">
                    {{ product.name }}
                </td>
                <td style=" width: 15%; margin: auto; text-align: center;">
                    <h4>{{ product.amount }}</h4>
                </td>
                <td style=" width: 15%; margin: auto; text-align: center;">
                    <h4>
                        {% if product.ProductValue is not null %}
                            {{ (product.retailPrice * product.ProductValue * product.amount) }} UAH
                        {% else %}
                            {{ product.retailPrice * product.amount}} UAH
                        {% endif %}
                    </h4>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div style="margin-bottom: 2rem; margin-top: 1rem; float: right; padding-right: 4rem">
        <div style="float: right; width: 50%; padding-right: 6rem;">
            <table>
{#                <tr>#}
{#                    <td style="width: 80%"><h4>Subtotal ({{ products|length }} items):</h4></td>#}
{#                    <td><h4>{{ total }}</h4></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td style="width: 80%"><h4>Flat-rate Shipping:</h4></td>#}
{#                    <td><h4>FREE</h4></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td style="width: 80%"><h4>Discount:</h4></td>#}
{#                    <td><h4>$40.57</h4></td>#}
{#                </tr>#}
                <tr>
                    <td style="width: 80%"><h4>Order Total:</h4></td>
                    <td><h4>{{ total }}</h4></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
