{% extends 'base.html.twig' %}
{% block body %}
    <div class="super_container">
        <!-- Banner -->
        <div class="banner">
            <div class="banner_background" style="background-image:url(images/banner_background.jpg)"></div>
            <div class="container banner_content">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div style="display: inline-flex">
                                <div class="col-7">
                                    {% if first.sale is not null %}
                                    <div>
                                            <h2>Акция -{{ first.sale }}%</h2>
                                    </div>
                                    {% endif %}
                                    <div class="mt-4">
                                        <h4>{{ first.name }}</h4>
                                    </div>
                                    <div class="mt-lg-3 mt-md-3 mt-sm-1 d-inline-flex">
                                        {% if first.sale is not null %}
                                            {% if first.productValue is not null %}
                                                <p style="font-size: xx-large; color: red; padding-right: 1rem">{{ first.productValue * first.retailPrice - (first.retailPrice * first.ProductValue/100 * first.sale) }} грн</p>
                                            {% else %}
                                                <p style="font-size: xx-large; color: red; padding-right: 1rem">{{ first.retailPrice - (first.retailPrice /100 * first.sale)}} грн</p>
                                            {% endif %}

                                            {% if first.productValue is not null %}
                                                <s style="font-size: x-large; padding-top: 5px; color: grey">{{ first.productValue * first.retailPrice }} грн</s>
                                            {% else %}
                                                <s style="font-size: x-large; padding-top: 5px; color: grey">{{ first.retailPrice }} грн</s>
                                            {% endif %}
                                        {% else %}
                                            {% if first.productValue is not null %}
                                                <p style="font-size: xx-large; color: red; padding-right: 1rem">{{ first.productValue * first.retailPrice - (first.retailPrice * first.ProductValue/100 * first.sale) }} грн</p>
                                            {% else %}
                                                <p style="font-size: xx-large; color: red; padding-right: 1rem">{{ first.retailPrice - (first.retailPrice /100 * first.sale)}} грн</p>
                                            {% endif %}
                                        {% endif %}

                                    </div>
                                    <button class="btn btn-primary mt-lg-2 mt-md-2 mt-sm-0 d-block">Купить</button>
                                </div>
                                <div class="col-5">
                                    <img onerror="this.src = '/no-image.png'" style="width: inherit; height: auto" src={% if first.image.get(0).ImagePath is defined %}
                     "/images/{{ first.image.get(0).ImagePath }}"
                                    {% else %}
                                        "/no-image.png"
                                    {% endif %}
                                    alt="/image/no-image.png">
                                </div>
                            </div>
                        </div>

                        {% for mainPage in mainPageProducts %}
                            <div class="carousel-item">
                                <div style="display: inline-flex">
                                    <div class="col-7">
                                        {% if mainPage.sale is not null %}
                                            <div>
                                                <h2>Акция -{{ mainPage.sale }}%</h2>
                                            </div>
                                        {% endif %}
                                        <div class="mt-4">
                                            <h4>{{ mainPage.name }}</h4>
                                        </div>
                                        <div class="mt-lg-3 mt-md-3 mt-sm-1 d-inline-flex">
                                            {% if mainPage.sale is not null %}
                                                {% if mainPage.productValue is not null %}
                                                    <p style="font-size: xx-large; color: red; padding-right: 1rem">{{ mainPage.productValue * mainPage.retailPrice - (mainPage.retailPrice * mainPage.ProductValue/100 * mainPage.sale) }} грн</p>
                                                {% else %}
                                                    <p style="font-size: xx-large; color: red; padding-right: 1rem">{{ mainPage.retailPrice - (mainPage.retailPrice /100 * mainPage.sale)}} грн</p>
                                                {% endif %}

                                                {% if mainPage.productValue is not null %}
                                                    <s style="font-size: x-large; padding-top: 5px; color: grey">{{ mainPage.productValue * mainPage.retailPrice }} грн</s>
                                                {% else %}
                                                    <s style="font-size: x-large; padding-top: 5px; color: grey">{{ mainPage.retailPrice }} грн</s>
                                                {% endif %}
                                            {% else %}
                                                {% if mainPage.productValue is not null %}
                                                    <p style="font-size: xx-large; color: red; padding-right: 1rem">{{ mainPage.productValue * mainPage.retailPrice - (mainPage.retailPrice * mainPage.ProductValue/100 * mainPage.sale) }} грн</p>
                                                {% else %}
                                                    <p style="font-size: xx-large; color: red; padding-right: 1rem">{{ mainPage.retailPrice - (mainPage.retailPrice /100 * mainPage.sale)}} грн</p>
                                                {% endif %}
                                            {% endif %}

                                        </div>
                                        <button class="btn btn-primary mt-lg-2 mt-md-2 mt-sm-0 d-block">Купить</button>
                                    </div>
                                    <div class="col-5">
                                        <img onerror="this.src = '/no-image.png'" style="width: inherit; height: auto" src={% if mainPage.image.get(0).ImagePath is defined %}
                     "/images/{{ mainPage.image.get(0).ImagePath }}"
                                        {% else %}
                                            "/no-image.png"
                                        {% endif %}
                                        alt="/image/no-image.png">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Characteristics -->
        <div class="characteristics">
            <div class="container">
                <div class="row">
                    <!-- Char. Item -->
                    <div class="col-lg-3 col-md-6 char_col">
                        <div class="char_item d-flex flex-row align-items-center justify-content-start">
                            <div class="char_icon"><i class="fas fa-truck fa-2x" style="color: #0e8ce4;"></i></div>
                            <div class="char_content">
                                <div class="char_title">Быстрая доставка</div>
                                <div class="char_subtitle">Новой почтой</div>
                            </div>
                        </div>
                    </div>
                    <!-- Char. Item -->
                    <div class="col-lg-3 col-md-6 char_col">
                        <div class="char_item d-flex flex-row align-items-center justify-content-start">
                            <div class="char_icon"><i class="far fa-clock fa-2x" style="color:#0e8ce4;"></i></div>
                            <div class="char_content">
                                <div class="char_title">24/7</div>
                                <div class="char_subtitle">Работаем круглочуточно</div>
                            </div>
                        </div>
                    </div>
                    <!-- Char. Item -->
                    <div class="col-lg-3 col-md-6 char_col">
                        <div class="char_item d-flex flex-row align-items-center justify-content-start">
                            <div class="char_icon"><i class="fas fa-2x fa-thumbs-up" style="color: #0e8ce4"></i></div>
                            <div class="char_content">
                                <div class="char_title">Надежность</div>
                                <div class="char_subtitle">Довольные покупатели</div>
                            </div>
                        </div>
                    </div>
                    <!-- Char. Item -->
                    <div class="col-lg-3 col-md-6 char_col">
                        <div class="char_item d-flex flex-row align-items-center justify-content-start">
                            <div class="char_icon"><i class="fas fa-percent fa-2x" style="color: #0e8ce4"></i></div>
                            <div class="char_content">
                                <div class="char_title">Акции</div>
                                <div class="char_subtitle">Постоянные скидки</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Best Sellers -->
        {% if specialProducts.0 is defined %}
        <div class="container">
            <div class="col px-0 pb-1" style="padding-bottom: 1rem; padding-top: 1rem; display: inline-block">
                <div class="viewed_title_container">
                    <div class="tabs clearfix tabs-right">
                        <div class="new_arrivals_title font-weight-bold">Хиты продаж<a id="view_all_resp" style="float: right; display: none;" href="#">Посмотреть все</a></div>
                        <ul class="clearfix" id="view_all">
                            <li class="active">
                                <a class="font-weight-bold" style="font-size: large" href="#">Посмотреть все</a>
                            </li>
                        </ul>
                        <div class="tabs_line"><span></span></div>
                    </div>
                </div>
            </div>
            <div class="scrolling-wrapper">
                {% for specialProduct in specialProducts %}
                    <a href="{{ path('product', {'slug': specialProduct.slug }) }}">
                        <div class="arrivals_slider_item card">
                            <div class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                                <div class="product_image d-flex flex-column align-items-center justify-content-center">
                                    <img src=
                                    {% if specialProduct.image.get(0).ImagePath is defined %}
                     "/images/{{ specialProduct.image.get(0).ImagePath }}"
                                    {% else %}
                                        "/no-image.png"
                                    {% endif %}
                                         alt="/image/no-image.png">
                                </div>
                                <div class="product_content">
                                    {% if specialProduct.ProductValue is not null %}
                                    <div class="product_price">
                                            {% if specialProduct.sale is not empty %}
                                                <div class="sale">
                                                    <s style="color: #787d76; font-size: medium">{{ (specialProduct.retailPrice * specialProduct.ProductValue) | round(1,'common') }} грн</s><br>
                                                    {{ (specialProduct.retailPrice * specialProduct.ProductValue - (specialProduct.retailPrice * specialProduct.ProductValue/100 * specialProduct.sale)) | round(1,'common') }} грн
                                                </div>
                                            {% else %}
                                                <div class="price">
                                                    {{ (specialProduct.retailPrice * specialProduct.ProductValue) | round(1,'common') }} грн
                                                </div>
                                            {% endif %}
                                        </div>
                                        {% else %}
                                            <div class="product_price">
                                                {% if specialProduct.sale is not empty %}
                                                    <div class="sale">
                                                        <s style="color: #787d76; font-size: medium">{{ (specialProduct.retailPrice) | round(1,'common') }} грн</s><br>
                                                        {{ (specialProduct.retailPrice - (specialProduct.retailPrice/100 * specialProduct.sale)) | round(1,'common') }} грн
                                                    </div>
                                                {% else %}
                                                    <div class="price">
                                                        {{ (specialProduct.retailPrice) | round(1,'common') }} грн
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                </div>
                                <div class="product_name">
                                    <p  style="width : 150px; overflow:hidden; display: inline-block; text-overflow: ellipsis; white-space: nowrap">
                                        {% if specialProduct.name | length > 52 %}
                                            {{ specialProduct.name | slice(0,52) }}...
                                        {% else %}
                                            {{ specialProduct.name }}
                                        {% endif %}
                                    </p>
                                </div>
                                <ul class="product_marks">
                                        {% if specialProduct.sale is not null %}
                                            <li class="product_mark product_discount">-{{ specialProduct.sale }}%</li>
                                        {% endif %}
                                            <li class="product_mark product_new"><i class="fas fa-thumbs-up"></i></li>
                                 </ul>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    <!-- Sale -->
        {% if saleProducts.0 is defined %}
        <div class="container py-3">
        <div class="col px-0 pb-1" style="padding-bottom: 1rem; padding-top: 1rem; display: inline-block">
            <div class="viewed_title_container">
                <div class="tabs clearfix tabs-right">
                    <div class="new_arrivals_title font-weight-bold">Акционные товары<a id="view_all_resp" style="float: right; display: none;" href="#">Посмотреть все</a></div>
                    <ul class="clearfix" id="view_all">
                        <li class="active">
                            <a class="font-weight-bold" style="font-size: large" href="#">Посмотреть все</a>
                        </li>
                    </ul>
                    <div class="tabs_line"><span></span></div>
                </div>
            </div>
        </div>
        <div class="scrolling-wrapper">
            {% for specialProduct in saleProducts %}
                <a href="{{ path('product', {'slug': specialProduct.slug }) }}">
                    <div class="arrivals_slider_item card">
                        <div class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                            <div class="product_image d-flex flex-column align-items-center justify-content-center">
                                <img src=
                                {% if specialProduct.image.get(0).ImagePath is defined %}
                     "/images/{{ specialProduct.image.get(0).ImagePath }}"
                                {% else %}
                                    "/no-image.png"
                                {% endif %}

                            alt="/image/no-image.png">
                            </div>
                                <div class="product_content">
                                    <div class="product_price">
                                        {% if specialProduct.ProductValue is not null %}
                                            {% if specialProduct.sale is not empty %}
                                                <s style="color: #787d76; font-size: medium">{{ (specialProduct.retailPrice * specialProduct.ProductValue) |round(1,'common') }} грн</s><br>
                                                {{ (specialProduct.retailPrice * specialProduct.ProductValue - (specialProduct.retailPrice * specialProduct.ProductValue/100 * specialProduct.sale)) |round(1,'common') }} грн
                                            {% else %}
                                                {{ (specialProduct.retailPrice * specialProduct.ProductValue) |round(1,'common') }} грн
                                            {% endif %}
                                    </div>
                                        {% else %}
                                            {% if specialProduct.sale is not empty %}
                                                <s style="color: #787d76; font-size: medium">{{ (specialProduct.retailPrice) | round(1,'common') }} грн</s><br>
                                                {{ (specialProduct.retailPrice - (specialProduct.retailPrice/100 * specialProduct.sale)) | round(1,'common') }} грн
                                            {% else %}
                                                {{ (specialProduct.retailPrice) | round(1,'common') }} грн
                                            {% endif %}
                                    </div>
                                        {% endif %}
                                </div>
                    </div>
                            <div class="product_name">
                                <p style="width : 150px; overflow:hidden; display: inline-block; text-overflow: ellipsis; white-space: nowrap">
                                    {% if specialProduct.name | length > 52 %}
                                        {{ specialProduct.name | slice(0,52) }}...
                                    {% else %}
                                        {{ specialProduct.name }}
                                    {% endif %}
                                </p>
                            </div>

                            <ul class="product_marks">
                                    <li class="product_mark product_discount">-{{ specialProduct.sale }}%</li>
                                {% if specialProduct.specialOffer == true %}
                                    <li class="product_mark product_new"><i class="fas fa-thumbs-up"></i></li>
                                {% endif %}
                            </ul>
                        </div>
                    </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    </div>
{% endblock %}