{% extends 'base.html.twig' %}
{% block stylesheets %}
    <title>{{ product.name }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="OneTech shop project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="http:/icon-logo.png">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
    <link href="/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="/styles/product_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/product_responsive.css">
    <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- Single Product -->

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    Вы уверены что хотите удалить товар из корзины?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="dismiss" data-dismiss="modal">Нет</button>
                    <button type="button" class="btn btn-primary" id="accept">Да</button>
                </div>
            </div>
        </div>
    </div>

    <div class="single_product">
        <div class="container">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb"">
                    {% for crumb in crumbs %}
                        <li class="breadcrumb-item"><a href="{{ path('category',{'slug': crumb.slug}) }}">{{ crumb.name }}</a></li>
                    {% endfor %}
                    <li class="breadcrumb-item">
                        {% if product.name | length > 90 %}
                            {{ product.name | slice(0,90)}}...
                        {% else %}
                            {{ product.name }}
                        {% endif %}
                    </li>
                </ol>
            </nav>
            <div class="row">
                <!-- Images -->
                <div class="col-lg-2 order-lg-1 order-2" id="gallery">
                    <ul class="image_list">
                        {% for image in product.image %}
                            <li data-image="/images/{{ image.ImagePath }}"><img style="object-fit: contain" src="/images/{{ image.ImagePath }}" onerror="this.src='/no-image.png'"  alt=""></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-lg-5 order-lg-2 order-1">
                    <div class="image_selected"><img src=
                {% if product.image.get(0).ImagePath is defined %}
                     "/images/{{ product.image.get(0).ImagePath }}"
                {% else %}
                    "/no-image.png"
                {% endif %}
                alt="" onerror="this.src='/no-image.png'"></div>
                </div>

                <!-- Description -->
                <div class="col-lg-5 order-3">
                    <div class="product_description">
                        <div class="product_name">{{ product.name }}</div>
                        {% if product.wholesalePrice is not null and product.minimumWholesale is not null %}
                        <div>
                            Оптовая цена:
                            {% if product.sale is not empty %}
                                {% if product.ProductValue is not null %}
                                    <s style="color: #787d76">{{ (product.wholesalePrice * product.ProductValue) }} грн</s>
                                    {{ (product.wholesalePrice * product.ProductValue - (product.wholesalePrice * product.ProductValue/100 * product.sale))|round(1) }} грн
                                {% else %}
                                    <s style="color: #787d76">{{ (product.wholesalePrice)|round(1) }} грн</s>
                                    {{ (product.wholesalePrice - (product.wholesalePrice/100 * product.sale))|round(1) }} грн
                                {% endif %}
                            {% else %}
                                {% if product.ProductValue is not null %}
                                    {{ (product.wholesalePrice * product.ProductValue)|round(1) }} грн
                                {% else %}
                                    {{ product.wholesalePrice|round(1) }} грн
                                {% endif %}
                            {% endif %}
                            - при заказе от {{ product.minimumWholesale }} {{ product.productUnit }}
                        </div>
                        {% endif %}
                        <div></div>
                        <div class="order_info d-flex flex-row">
                            <form action="#">
                                {% if product.IsAvailable %}
                                    <div class="clearfix">
                                        <div class="product_quantity clearfix">
                                            <span class="text-dark">Кол-во: </span>
                                            <input id="quantity_input" class="text-dark font-weight-bold offset-2" type="text" pattern="[0-9]*" value="{{ product.amount }}">
                                            <div class="quantity_buttons">
                                                <div data-slug="{{ product.slug }}" id="quantity_inc_button" class="quantity_inc quantity_control"><i class="fas fa-chevron-up"></i></div>
                                                <div data-slug="{{ product.slug }}" id="quantity_dec_button" class="quantity_dec quantity_control"><i class="fas fa-chevron-down"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="product_price">
                                    {% if product.ProductValue is not null %}
                                    {% if product.sale is not empty %}
                                        <s style="color: #787d76; font-size: medium">{{ (product.retailPrice * product.ProductValue) }} грн</s>
                                        {{ (product.retailPrice * product.ProductValue - (product.retailPrice * product.ProductValue/100 * product.sale))|round(1) }} грн
                                    {% else %}
                                        {{ (product.retailPrice * product.ProductValue)|round(1) }} грн
                                    {% endif %}
                                </div>
                                {% else %}
                                {% if product.sale is not empty %}
                                    <s style="color: #787d76; font-size: medium">{{ (product.retailPrice) }} грн</s>
                                    {{ (product.retailPrice - (product.retailPrice/100 * product.sale))|round(1) }} грн
                                {% else %}
                                    {{ (product.retailPrice)|round(1)    }} грн
                                {% endif %}

                        </div>
                        {% endif %}
                        {% if product.ProductUnit is not null %}
                        / {{ product.ProductUnit }}
                        {% endif %}
                                <div class="button_container">
                                    {% if product.IsAvailable %}
                                        <button type="button" class="button cart_button add_to_basket" style="{% if product.amount != 0 %}background-color: green;{% endif %} width: 90%" value="{{ product.slug }}">{% if product.amount != 0 %}В корзине <i class="fas fa-check"></i>{% else %}Купить <i class="fas fa-cart-plus"></i>{% endif %}</button>
                                    {% else %}
                                        Нет в наличии
                                    {% endif %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <button type="button" class="btn btn-warning my-4"><a class="text-light" href="{{ path('edit_product', {'id': product.id}) }}">Редактировать товар</a></button>
                                    {% endif %}
                                    {% if admin == true %}
                                        <br><b>Эту страницу видит только администратор</b>
                                    {% endif %}
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="description" class="product_text w-auto">{{ product.description|raw }}</div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Характеристика</th>
                    <th scope="col">Значение</th>
                </tr>
                </thead>
                <tbody>
                {% if brand.name is not null %}
                <tr>
                    <td>Производитель</td>
                    <td>{{ brand.name }}</td>
                </tr>
                {% endif %}
                {% if brand.country is not null %}
                    <tr>
                        <td>Производитель</td>
                        <td>{{ brand.country }}</td>
                    </tr>
                {% endif %}
                {% for characteristic in specifications %}
                    <tr>
                        <td>{{ characteristic.name }}</td>
                        <td>{{ characteristic.value }} {% if characteristic.unit is not null %}( {{ characteristic.unit }} ){% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if recommend.0 is defined %}
        <div class="container">
            <div class="col px-0 py-3 d-inline-block">
                <div class="viewed_title_container">
                    <div class="tabs clearfix tabs-right">
                        <div class="new_arrivals_title"><h3 class="font-weight-bold">С этим товаром часто покупают</h3><a id="view_all_resp" class="d-none float-right" href="#"><h3 class="font-weight-bold">Показать все</h3></a></div>
                        <div class="tabs_line"><span></span></div>
                    </div>
                </div>
            </div>
            <div class="scrolling-wrapper">
                {% for specialProduct in recommend %}
                    <a href="{{ path('product', {'slug': specialProduct.slug }) }}">
                        <div class="arrivals_slider_item card">
                            <div class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                                <div class="product_image d-flex flex-column align-items-center justify-content-center">
                                    <img src=
                                         {% if specialProduct.image.get(0).ImagePath is defined %}
                                         "/images/{{ specialProduct.image.get(0).ImagePath }}"
                                    {% else %}
                                        "/no-image.png"
                                    {% endif %}
                                    alt="/image/no-image.png">
                                </div>
                                <div class="product_content">
                                    {% if specialProduct.ProductValue is not null %}
                                        <div class="product_price">
                                            {% if specialProduct.sale is not empty %}
                                                <div class="sale">
                                                    <s>{{ (specialProduct.retailPrice * specialProduct.ProductValue) | round(1,'common') }} грн</s><br>
                                                    {{ (specialProduct.retailPrice * specialProduct.ProductValue - (specialProduct.retailPrice * specialProduct.ProductValue/100 * specialProduct.sale)) | round(1,'common') }} грн
                                                </div>
                                            {% else %}
                                                <div class="price">
                                                    {{ (specialProduct.retailPrice * specialProduct.ProductValue) | round(1,'common') }} грн
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <div class="product_price">
                                            {% if specialProduct.sale is not empty %}
                                                <div class="sale">
                                                    <s>{{ (specialProduct.retailPrice) | round(1,'common') }} грн</s><br>
                                                    {{ (specialProduct.retailPrice - (specialProduct.retailPrice/100 * specialProduct.sale)) | round(1,'common') }} грн
                                                </div>
                                            {% else %}
                                                <div class="price">
                                                    {{ (specialProduct.retailPrice) | round(1,'common') }} грн
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="product_name">
                                    <p>
                                        {% if specialProduct.name | length > 52 %}
                                            {{ specialProduct.name | slice(0,52) }}...
                                        {% else %}
                                            {{ specialProduct.name }}
                                        {% endif %}
                                    </p>
                                </div>
                                <ul class="product_marks">
                                    {% if specialProduct.sale is not null %}
                                        <li class="product_mark product_discount">-{{ specialProduct.sale }}%</li>
                                    {% endif %}
                                    {% if specialProduct.specialOffer %}
                                        <li class="product_mark product_new"><i class="fas fa-thumbs-up"></i></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if similar_products.0 is defined %}
        <div class="container">
            <div class="col px-0 py-3 d-inline-block">
                <div class="viewed_title_container">
                    <div class="tabs clearfix tabs-right">
                        <div class="new_arrivals_title"><h3 class="font-weight-bold">Похожие товары</h3><a id="view_all_resp" class="float-right d-none" href="#"><h3 class="font-weight-bold">Показать все</h3></a></div>
                        <div class="tabs_line"><span></span></div>
                    </div>
                </div>
            </div>
            <div class="scrolling-wrapper h-auto">
                {% for specialProduct in similar_products %}
                    <a href="{{ path('product', {'slug': specialProduct.slug }) }}">
                        <div class="arrivals_slider_item card">
                            <div class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                                <div class="product_image d-flex flex-column align-items-center justify-content-center">
                                    <img src=
                                         {% if specialProduct.image.get(0).ImagePath is defined %}
                                         "/images/{{ specialProduct.image.get(0).ImagePath }}"
                                    {% else %}
                                        "/no-image.png"
                                    {% endif %}
                                    alt="/image/no-image.png">
                                </div>
                                <div class="product_content">
                                    {% if specialProduct.ProductValue is not null %}
                                        <div class="product_price">
                                            {% if specialProduct.sale is not empty %}
                                                <div class="sale">
                                                    <s>{{ (specialProduct.retailPrice * specialProduct.ProductValue) | round(1,'common') }} грн</s><br>
                                                    {{ (specialProduct.retailPrice * specialProduct.ProductValue - (specialProduct.retailPrice * specialProduct.ProductValue/100 * specialProduct.sale)) | round(1,'common') }} грн
                                                </div>
                                            {% else %}
                                                <div class="price">
                                                    {{ (specialProduct.retailPrice * specialProduct.ProductValue) | round(1,'common') }} грн
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <div class="product_price">
                                            {% if specialProduct.sale is not empty %}
                                                <div class="sale">
                                                    <s>{{ (specialProduct.retailPrice) | round(1,'common') }} грн</s><br>
                                                    {{ (specialProduct.retailPrice - (specialProduct.retailPrice/100 * specialProduct.sale)) | round(1,'common') }} грн
                                                </div>
                                            {% else %}
                                                <div class="price">
                                                    {{ (specialProduct.retailPrice) | round(1,'common') }} грн
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="product_name">
                                    <p>
                                        {% if specialProduct.name | length > 52 %}
                                            {{ specialProduct.name | slice(0,52) }}...
                                        {% else %}
                                            {{ specialProduct.name }}
                                        {% endif %}
                                    </p>
                                </div>
                                <ul class="product_marks">
                                    {% if specialProduct.sale is not null %}
                                        <li class="product_mark product_discount">-{{ specialProduct.sale }}%</li>
                                    {% endif %}
                                    {% if specialProduct.specialOffer %}
                                        <li class="product_mark product_new"><i class="fas fa-thumbs-up"></i></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/styles/bootstrap4/popper.js"></script>
    <script src="/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="/plugins/greensock/TweenMax.min.js"></script>
    <script src="/plugins/greensock/TimelineMax.min.js"></script>
    <script src="/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="/plugins/greensock/animation.gsap.min.js"></script>
    <script src="/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="/plugins/easing/easing.js"></script>
    <script src="/js/product_custom.js"></script>
    <script src="/js/main.js"></script>

    <script>
        $('#description').find('*').css('font-family','Rubik').css('font-size','14px').css('color', 'black');
        $('#description').find('strong, h3, h2, h1, h4, h5, h6, b, s').each(function () {
            $(this).replaceWith('<p>'+$(this).html()+'</p>');
        });
        $('#description').find('table').css('width', '50% !important');
        (function() {
            var allimgs = document.images;
            for (var i = 0; i < allimgs.length; i++) {
                $(this).css('object-fit', 'contain');
                allimgs[i].onerror = function() {
                    this.src='/no-image.png';
                }
            }
        })();
        $(document).on('click', '#quantity_inc_button', function () {
            $.ajax({
                method: "POST",
                url: '/add_to_basket',
                data: {
                    'slug': $(this).attr('data-slug'),
                }
            })
                .done(function() {
                    if(Number($('#quantity_input').val()) === 0) {
                        $('.add_to_basket').css('background-color','green').html('В корзине <i class="fas fa-check"></i>');
                    }
                        $('#quantity_input').val(Number($('#quantity_input').val()) + 1);
                    $('#basket-product-amount').html(Number($('#basket-product-amount').html()) + 1);
                });
        });

        $(document).on('click', '#quantity_dec_button', function () {
            if(Number($('#quantity_input').val()) === 0){
                return;
            }
            if(Number($('#quantity_input').val()) === 1){
                let slug = $(this).attr('data-slug');
                $('#exampleModalCenter').modal('show');
                document.getElementById('dismiss').onclick = function () {
                    $('#exampleModalCenter').modal('hide');
                };
                document.getElementById('accept').onclick = function () {
                    $.ajax({
                        method: "POST",
                        url: '/minus_basket/'+slug,
                    })
                        .done(function() {
                            $('.add_to_basket').css('background-color','#0e8ce4').html('Купить <i class="fas fa-cart-plus"></i>');
                            $('#basket-product-amount').html(Number($('#basket-product-amount').html()) - 1);
                            $('#quantity_input').val(Number($('#quantity_input').val()) - 1);
                            $('#exampleModalCenter').modal('hide');
                        });
                }
            }
            else{
                $.ajax({
                    method: "POST",
                    url: '/minus_basket/'+$(this).attr('data-slug'),
                })
                    .done(function() {
                        $('#basket-product-amount').html(Number($('#basket-product-amount').html()) - 1);
                        $('#quantity_input').val(Number($('#quantity_input').val()) - 1);
                    });
            }
        });

        $(document).on('click', '.add_to_basket', function () {
            $('#quantity_input').val(Number($('#quantity_input').val()) + 1);
        });
    </script>

{% endblock %}