<link rel="stylesheet" type="text/css" href="{{ asset('styles/recently_viewed.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('styles/recently_viewed_responsive.css') }}">
<!-- Recently Viewed -->
{% if products is not null %}
<div class="viewed">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="viewed_title_container">
                    <h3 class="viewed_title font-weight-bold">Недавно просмотренные</h3>

                </div>

                <div class="viewed_slider_container">

                    <!-- Recently Viewed Slider -->

                    <div class="scrolling-wrapper">
                        <!-- Recently Viewed Item -->
                        {% for product in products %}
                        <a href="{{ path('product', {'slug': product.slug}) }}" tabindex="0">
                        <div class="recently_viewed_item is_new line_item ml-3">
                                <div class="recently_viewed_border"></div>
                                <div class="recently_viewed_image d-flex flex-column align-items-center justify-content-center"><img style="object-fit: contain; width: 100px; height: 100px" src={% if product.image.get(0).ImagePath is defined %}
                                    "/images/{{ product.image.get(0).ImagePath }}"
                                    {% else %}
                                        "/no-image.png"
                                    {% endif %} alt=""></div>
                                <div class="recently_viewed_content" style="text-align: center">
                                    <div class="recently_viewed_price">
                                        {% if product.ProductValue is not null %}
                                        {% if product.sale is not empty %}
                                            <s style="color: #787d76; font-size: medium">{{ (product.retailPrice * product.ProductValue) }} UAH</s><br>
                                            {{ product.retailPrice * product.ProductValue - (product.retailPrice * product.ProductValue/100 * product.sale) }} UAH
                                        {% else %}
                                            {{ (product.retailPrice * product.ProductValue) }} UAH
                                        {% endif %}
                                    </div>
                                    {% else %}
                                    {% if product.sale is not empty %}
                                        <s style="color: #787d76; font-size: medium">{{ (product.retailPrice) }} UAH</s><br>
                                        {{ product.retailPrice - (product.retailPrice/100 * product.sale) }} UAH
                                    {% else %}
                                        {{ (product.retailPrice) }} UAH
                                    {% endif %}
                                </div>
                            {% endif %}
                                <div style="width : 150px; overflow:hidden; display:inline-block; text-overflow: ellipsis; white-space: nowrap;" class="recently_viewed_name">{{ product.name }}</div>
                        </div>
                        </a>
                        <div class="button_container" style="text-align: center">
                            <button style="font-size: large; font-weight: bold; width: 80%; border: unset" type="button" class="button cart_button add_to_basket text-light" value="{{ product.slug }}">Купить</button>
                        </div>


                        <ul class="recently_viewed_marks">
                            {% if product.sale is not null %}
                                <li class="recently_viewed_mark recently_viewed_discount">-{{ product.sale }}%</li>
                            {% endif %}
                            {% if product.specialOffer == 1 %}
                                <li class="recently_viewed_mark recently_viewed_new">Хит</li>
                            {% endif %}
                        </ul>
                        </a>
                    </div>
                    {% endfor %}

                    </div>
                 </div>
            </div>
         </div>
    </div>
{% endif %}
</div>