{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .cat_menu_container ul{
            visibility: hidden;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container py-5 row w-75 m-auto">
        <div class="col-lg-8 col-sm-12">
            {% if reviews is not empty %}
                {% for review in reviews %}
                <div class="container row py-3">
                    <div class="col-2 py-3">
                       <span>{{ review.name }}</span>
                       <p>{{ review.date | date('d-m-Y') }}</p>
                    </div>
                    <div class="col-10 p-3" style="background-color: #f5f5f5;border-bottom: solid thin #e8e8e8;box-shadow: 0px 1px 5px rgba(0,0,0,0.1);">
                        <p class="text-dark">{{ review.review }}</p>
                        <span class="text-success h5">Достоинства:</span>
                        <p>
                            {% if review.pros is null %}
                                Не указано:(
                            {% else %}
                                {{ review.pros }}
                            {% endif %}
                        </p>
                        <span class="h5 text-danger">Недостатки:</span>
                        <p>
                            {% if review.cons is null %}
                                Не указано:(
                            {% else %}
                                {{ review.cons }}
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <i class="far fa-6x text-primary fa-sad-tear"></i>
                <h2 class="text-center">Пока что отзывов нет:(</h2>
            {% endif %}
        </div>
        <div class="col-lg-4 col-sm-12">
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}