{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/styles/product_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/product_responsive.css">
{% endblock %}
{% block body %}
    <div class="container py-5 row w-75 m-auto">
        <div class="col-8">
            {% if reviews is not empty %}
                {% for review in reviews %}
                <div class="container row py-3">
                    <div class="col-2 py-3">
                       <span>{{ review.name }}</span>
                       <p>{{ review.date | date('d-m-Y') }}</p>
                    </div>
                    <div class="col-10 p-3" style="background-color: #f5f5f5;border-bottom: solid thin #e8e8e8;box-shadow: 0px 1px 5px rgba(0,0,0,0.1);">
                        <p class="text-dark">{{ review.review }}</p>
                        <span class="text-success h5">Достоинства:</span>
                        <p>
                            {% if review.pros is null %}
                                Не указано:(
                            {% else %}
                                {{ review.pros }}
                            {% endif %}
                        </p>
                        <span class="h5 text-danger">Недостатки:</span>
                        <p>
                            {% if review.cons is null %}
                                Не указано:(
                            {% else %}
                                {{ review.cons }}
                            {% endif %}
                        </p>
                        <span class="text-warning h5">Оценка:</span>
                            <div style="z-index: 0; padding: 0" class="rating" data-rateyo-read-only="true" data-rateyo-rating="{% if review.rating == 0 %}5{% else %}{{ review.rating }}{% endif %}"></div>

                    </div>
                </div>
                {% endfor %}
            {% else %}
                <i class="far fa-6x text-primary fa-sad-tear"></i>
                <h2 class="text-center">Пока что отзывов нет:(</h2>
            {% endif %}
        </div>
        <div class="col-4">
            {{ form_start(form) }}
            {{ form_end(form) }}
            <div id="rating" data-rateyo-rating="5"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    <script>
        let form_group = $('<div class="form-group"></div>');
        form_group.append('<label>Оценка</label>');
        form_group.append($('#rating'));
        $('#add_review_rating').after(form_group).val(5);
        $('#rating').rateYo({
            ratedFill: "#ffa600",
            starWidth: "14px",
            onSet: function (rating) {
                $('#add_review_rating').val(rating);
            }
        });
        $('.rating').rateYo({
            starWidth: "14px"
        });
    </script>
{% endblock %}